@Model BlogProject.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFName @Model.TeacherLName</h2>
    <p>@Model.TeacherId</p>
    <p>@Model.EmployeeNumber</p>
    <p>@Model.HireDate</p>
    <p>@Model.Salary</p>
</div>

